* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Crimefighter';
    src:  url('fonts/crimefighter-bb.regular.ttf');
  }

body {
    height: 100vh;
    position: relative;
    font-family: "Crimefighter", 'Comic Neue';
    text-align: center;
    background-image: linear-gradient(to bottom, #051937, #071530, #080f29, #070822, #03011c);
}

h1 {
    display: block;
    font-size: 30px;
    color: #03a9f4;
    text-align: center;
    margin-top: 30px;
}

.startGame {
    outline: 0;
    margin: 20px auto;
    width: 150px;
    padding: 5px;
    background-color: #545454;
    color: #ffffff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Crimefighter", 'Comic Neue';
    opacity: 1;
    transition: 0.4s;
}

.startGame:hover {
    background: #03a9f4;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.container-main {
    max-width: 800px;
}

.subcontainer {
    display: flex;
    justify-content: center;
}

.card {
    width: 100px;
    height: 150px;
    margin: 8px;
    transform-style: preserve-3d;
    transition: .5s;
    border-radius: 10%;
}

.card:active {
    transform: scale(.97);
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10%;
    border: 3px solid #03a9f4;
    background-image: linear-gradient(to right top, #051937, #131f50, #2e2266, #501e78, #760583);
    transition: 0.3s;
}

.front-face:hover {
    transform: scale(1.1);
}

.container-levels {
    width: 250px;
    height: 230px;
    background: black;
    border: 3px solid #03a9f4;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.inner-container-levels {
    width: 100%;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.levels {
    width: 100%;
    font-size: 20px;
    margin: 10px;
    padding: 2px 0;
    text-align: center;
    background: #545454;
    transition: 0.3s;
}

.levels:hover {
    box-shadow: cornflowerblue 0px 0px 5px 1px;
    cursor: pointer;
}

.chosenLevel {
    background: #03a9f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.soundOn, .soundOff {
    width: 30px;
    height: 30px;
    top: 0px;
    right: 50px;
    position: absolute;
    opacity: 0.5;
}

.soundOn {
    background: url(images/soundOn.png) no-repeat center;
    background-size: contain;
}

.soundOff {
    background: url(images/soundOff.png) no-repeat center;
    background-size: contain;
}

.soundOn:hover,
.soundOff:hover {
    opacity: 1;
}

.success {
    position: absolute;
    display: block;
    top: 20%;
    left: 10%;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    animation: bounceIn;
    animation-duration: 2s;
    z-index: 1;
    color: white;
    border: 2px solid greenyellow;
    background-image: linear-gradient(to bottom, #051937, #071530, #080f29, #070822, #03011c);
}

.congrats {
    color: greenyellow;
    position: relative;
}

.hidden {
    transition: 2s;
    opacity: 0;
}

.stars {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -15px;
    background: url(images/stars.png) no-repeat center;
    background-size: contain;
    z-index: 2;
}


@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    
    60% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1010px) {

    .container-levels {
        height: 200px;
        width: 200px;
    }
    
    .levels {
        font-size: 16px;
        margin: 10px;
    }

    .card {
        width: 75px;
        height: 100px;
        margin: 5px;
    }

    .front-face {
        border: 2px solid #03a9f4;
    }
}

@media (max-width: 750px) {
    .container-levels {
        height: 150px;
        width: 150px;
    }

    .levels {
        font-size: 14px;
        margin: 8px;
    }

    .card {
        width: 50px;
        height: 75px;
        margin: 4px;
    }

    .front-face {
        border: 1.5px solid #03a9f4;
    }

    h1 {
        font-size: 20px;
    }

    .startGame {
        width: 75px;
        font-size: 12px;
    }

    .soundOn, .soundOff {
        width: 22px;
        height: 22px;
        right: 15px;
    }
}